body {
    background: linear-gradient(45deg, pink, blue, purple);
    display: flex;
    justify-content: space-between;
    font-family: "San Francisco", Arial, sans-serif;
    height: 100vh;
    padding: 5% 10%;
    box-sizing: border-box;
}

#chatContainer {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

#chatbox {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

#inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-top: 1px solid #e0e0e0;
}

#canvasContainer {
    flex: 0.45;
    background-color: #fff;
    height: 100%;
    border-radius: 15px;
}

.send-btn {
    background-color: #6200ea;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 24px;
    line-height: 0;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user, .bot {
    padding: 8px 15px;
    border-radius: 15px;
    max-width: 70%;
    margin: 5px;
}

.user {
    align-self: flex-end;
    background-color: #6200ea;
    color: white;
}

.bot {
    align-self: flex-start;
    background-color: #f2f2f2;
}

#myCanvas {
    width: 100%;  /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    margin: auto;
    display: block; /* To allow the margin auto to center it */
    background-color: #fff;
    flex: 0.45;
    border-radius: 15px;

}

#inputBox {
    width: 80%; /* Adjust the width as needed, for example, 80% of the container width */
    padding: 10px 20px;
    border-top: 1px solid #e0e0e0;
    border-radius: 15px; /* Adjust as needed */
    overflow-y: auto;
    background-color: white; /* Input background color changed to light gray */
    color: #000; /* Text color inside the input changed to black */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
